<style type="text/css">

#body, #usage, #bigger-picture, #thank-you{
	text-align: center;
}


</style>
<header id="home">
	<div >
		<i class="icon-location" style="font-size: 80px;"></i>
		<h1>Welcome to homepage!</h1>
		<h4>Illustration of Mapbox</h4>
	</div>
</header>
<section id="body">
	<div>
		<i class="icon-info"></i>
		<div>Info</div>
		<p>Illustration of <a href="http://www.mapbox.com" target="blank">MapBox</a> markers. Being prepopulated from a known table. 
		</p>
	</div>
</section>

<section id="usage">
	<div>
		<h4>Usage</h4>
		<div class="pre">
			<h3>Include the following javascript and css in your header.</h3>
			<div>
				<p>&lt;script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'&gt;&lt;/script&gt;</p>
				<p>&lt;link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' /&gt;</p>
			</div>
		</div>
		<div class="map-divs">
		<!-- Basic Usage -->
			<div class="map-div">
			<!-- Map with id basic to be called in the Js -->
				<div class="basic" id="basic">
				</div>
				<div class="content">
					<h3>Basic Usage</h3>
					<p>Displaying the map by passing it the div#id and your map id [username.mapid] from mapbox.</p>
					<pre>
						<code>
							<xmp>
								<!-- Map with id basic to be called in the Js -->
								<div class="basic" id="basic">

								<script type="text/javascript">
								    var map = L.mapbox.map('basic', 'examples.map-i86nkdio')
							        .setView([40, -74.50], 9);
								</script>
							</xmp>
						</code>
					</pre>
				</div>
				<div class="clear"></div>
			</div>

			<!-- Usage with a marker -->
			<div class="map-div">
			<!-- Map with id basic to be called in the Js -->
				<div class="basic" id="basic-marker">
				</div>
				<div class="content">
					<h3>Basic Usage with single marker with an info box</h3>
					<p>Display map and show a single marker icon.</p>
					<div>
						Illustration from <a href="https://www.mapbox.com/mapbox.js/example/v1.0.0/single-marker/">mapbox</a> with infobox<br/>
					</div>
					<pre>
						<code>
							<xmp>
								<!-- Map with id basic to be called in the Js -->
								<div class="basic" id="basic-marker">

								<script>
									var map = L.mapbox.map('basic-marker', 'examples.map-20v6611k')
									    .setView([38.91338, -77.03236], 16);

									L.mapbox.featureLayer({
									    // this feature is in the GeoJSON format: see geojson.org
									    // for the full specification
									    type: 'Feature',
									    geometry: {
									        type: 'Point',
									        // coordinates here are in longitude, latitude order because
									        // x, y is the standard for GeoJSON and many formats
									        coordinates: [
									          -77.03221142292,
									          38.913371603574 
									        ]
									    },
									    properties: {
									        title: 'Peregrine Espresso',
									        description: '1718 14th St NW, Washington, DC',
									        // one can customize markers by adding simplestyle properties
									        // https://www.mapbox.com/foundations/an-open-platform/#simplestyle
									        'marker-size': 'large',
									        'marker-color': '#BE9A6B',
									        'marker-symbol': 'cafe'
									    }
									}).addTo(map);
								</script>
							</xmp>
						</code>
					</pre>
				</div>
				<div class="clear"></div>
			</div>
			<!-- Display map with with multiple markers using GEOJSON data format -->
			<div class="map-div">
			<!-- Map with id basic to be called in the Js -->
				<div class="basic" id="basic-multiple-markers">
				</div>
				<div class="content">
					<h3>Usage with multiple markers GEOJSON.</h3>
					<p>Displaying the map with multiple markers provide by <a href="">GEOJSON</a> data.</p>
					<pre>
						<code>
							<xmp>
								<!-- Map with id basic to be called in the Js -->
								<div class="basic" id="basic-multiple-markers">

								<script>
								var geojson = [
								  {
								    "type": "Feature",
								    "geometry": {
								      "type": "Point",
								      "coordinates": [-77.03238901390978,38.913188059745586]
								    },
								    "properties": {
								      "title": "Mapbox DC",
								      "description": "1714 14th St NW, Washington DC",
								      "marker-color": "#fc4353",
								      "marker-size": "large",
								      "marker-symbol": "monument"
								    }
								  },
								  {
								    "type": "Feature",
								    "geometry": {
								      "type": "Point",
								      "coordinates": [-122.414, 37.776]
								    },
								    "properties": {
								      "title": "Mapbox SF",
								      "description": "155 9th St, San Francisco",
								      "marker-color": "#fc4353",
								      "marker-size": "large",
								      "marker-symbol": "harbor"
								    }
								  }
								];

								L.mapbox.map('basic-multiple-markers', 'examples.map-i86nkdio')
								  .setView([37.8, -96], 4)
								  .featureLayer.setGeoJSON(geojson);
								</script>
							</xmp>
						</code>
					</pre>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</section>
<section id="bigger-picture">
	<h1>The 
		<span style="font-size: 80px; text-transform: uppercase; font-weight: 900; color: #000; letter-spacing: -0.12em;">
		bigger</span> picture</h1>
		<%= link_to "Big Picture", :home_map %>
	<div class="p">
		
		<p>
			Using MapBox with multiple markers loaded from a database.
			The Illustration is basically implemented with Rails.
		</p>
		<p>
			<h4>How?</h4>
			Access the database table containing the longitude and latitude coordinates.
			Surrounding the portion of Javascript code within the loop and pass the 
			longitude and latitude coordinates within the javascripts. With other information from the 
			database.
		</p>
		<p>
			Css could be used to style the box (popup view on markers).
		</p>
	</div>
</section>
<section id="thank-you">
	<h1>Thank You.</h1>
</section>

