map.html.erb -- <h1>Working on page!</h1>
<div>
	<p>
		The page shows map illustrated with multiple markers.
	</p>
	<p>
		The page would also give a code example and description on how to 
		effect the sample in php, rails, etc.
	</p>
	<p>Source to css styles{{inclusive}}</p>
</div>